@import "./variable";

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    width: 25%;
    left: 0;
    background-color: $colour;
    color: rgb(255, 255, 255);

    img {
        width: 60px;
    }
    
    div {
        font-family: $font;
        font-size: 40px;
    }

    .header {
        width: 25%;
        position: fixed;
        top: 10px;
        border-bottom: 3px solid white;

        div {
            display: flex;
            justify-content: center;
        }
    }

    .content {
        @include gridMiddle;
        margin: 3em 0;

        div {
            font-size: 25px;
            margin: 10px 0;

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
            }
        }

        .highlight {
            @include buttonBox;
            background-color: $highlight;
            padding-left: 1em;
            padding-right: 1em;
        }
    }

    .footer {
        width: 25%;
        position: fixed;
        bottom: 10px;

        div {
            display: flex;
            justify-content: center;
            
            a {
                @include buttonBox;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 30px;
                padding-left: 1em;
                padding-right: 1em;
            }
        }
    }
}
  
.right {
    width: 75%;
    right: 0;
    background-color: white;

    div {
        @include gridMiddle;
        width: 75%;
        margin: auto;

        select {
            @include inputBox;
            text-align: center;
            font-size: 30px;
            width: 500px;
            height: 40px;
            border-radius: 30px;
            margin: 15px 0px;
        }

        button {
            @include buttonBox;
            font-family: $font;
            font-size: 36px;
            padding-left: 1em;
            padding-right: 1em;
            margin: 15px 0px;
        }
    }

    table, td, th {
        border: 1px solid;
        text-align: center;
        padding: 5px;
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 15px 0px;
      }
}