@import "./variable";

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    width: 25%;
    left: 0;
    background-color: $colour;
    color: rgb(255, 255, 255);
    overflow-y: scroll;

    img {
        width: 60px;
    }
    
    div {
        font-family: $font;
        font-size: 40px;
    }

    .header {
        width: 25%;
        position: fixed;
        top: 10px;
        border-bottom: 3px solid white;
        background-color: $colour;

        div {
            display: flex;
            justify-content: center;
        }
    }

    .content {
        @include gridMiddle;
        margin: 3em 0;

        div {
            font-size: 25px;
            margin: 10px 0;

            select {
                font-size: 25px;
                background-color: transparent;
                color: rgb(255, 255, 255);
                border: none;
                outline: none;
                scroll-behavior: smooth;
                option {
                    color: black;
                }
            }

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
            }
        }

        .highlight {
            @include buttonBox;
            background-color: $highlight;
            padding-left: 1em;
            padding-right: 1em;
        }
    }

    .footer {
        width: 25%;
        position: fixed;
        bottom: 10px;
        background-color: $colour;

        div {
            display: flex;
            justify-content: center;

            a {
                @include buttonBox;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 30px;
                padding-left: 1em;
                padding-right: 1em;
            }
        }
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.left::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.left {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  
.right {
    width: 75%;
    right: 0;
    background-color: white;

    h1 {
        @include gridMiddle;
        font-family: $font;
        font-size: 48px;
    }

    form {
        @include gridMiddle;
        grid-template-columns: auto auto;
        grid-gap: 0px 0px;

        div {
            font-family: $font;
            font-size: 36px;
            margin-bottom: 20px;

            input {
                @include inputBox;
                text-align: center;
                font-size: 30px;
                width: 500px;
                height: 40px;
                border: 3px solid #006633;
                box-sizing: border-box;
                border-radius: 30px;
            }

            select {
                @include inputBox;
                font-size: 30px;
                padding: 0 0 0 40px;
                width: 500px;
                height: 40px;
                border: 3px solid #006633;
                box-sizing: border-box;
                border-radius: 30px;

                option {
                    text-align: center;
                }
            }

        }
    }

    div {
        @include gridMiddle;
        button {
            @include buttonBox;
            font-family: $font;
            font-size: 36px;
            padding-left: 1em;
            padding-right: 1em;
        }
    }

    table {
        @include gridMiddle;
        @include tableDesign;
        td, th {
            width: 100px; 
        }
        .username {
            width: 100px; 
        }
        .edit {
            width: 50px;
            background-color: white;
        }
        .bin {
            width: 50px;
            background-color: #D6EEEE;
            cursor: pointer;
        }
        button:hover {
            background-color: red;
        }
    }
}